nav {
  font-family: "PT Sans", sans-serif;
}

h2 {
  font-family: "Jura", serif;
}

h3 {
  font-family: "Jura", serif;
}

p {
  padding-top: 10px;
  font-family: "Jura", sans-serif;
}

.iconSet {
  padding-top: 20px;
}

.icon {
  margin: 25px;
}

.siBu {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #0d83bf;
}

.siBu:hover {
  background-color: #0a6693;
}

/*sticky footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

@media only screen and (min-width: 992px) {
  .right-curlMobile {
    float: right;
    display: none;
  }
  .mobileCarousel {
    display: none;
  }
  .piHover {
    width: 95%;
    height: 97%;
  }
}

@media only screen and (max-width: 992px) {
  .right-curlDesktop {
    float: right;
    display: none;
  }

  .desktopCarousel {
    display: none;
  }
}

#tweaking {
  padding-top: 10px;
}

/*PORTFOLIO WEBSITE EXAMPLES*/

.portfolioImages {
  width: 100%;
}

/*CAROUSEL EDITS*/

#criUtility {
  width: 300px;
  height: 500px;
}
